.Button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid #3f650d;
	color: #000;
	margin-right: 15px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	&:hover {

	}
	&:focus {
		outline: none;
		box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3);
	}
	&:disabled {
		background: #ccc;
		color: black;
		cursor: not-allowed;
	}
	&.error {
		color: rgba(240, 87, 108, 1);
	}
	&.success {
		background: rgba(161, 240, 69, 1);
	}
	&.primary {
		background: #9fb754;
		color: #fff;
	}
}
